#services {
  padding: 60px 0;
}

#services .box-services {
  margin: 0 auto;
}

#services .box-services .service {
  padding: 10px;
  width: 20%;
  margin: 20px auto;
  border-top: 3px solid #000;
  text-align: center;
  transition: .6s;
  padding: 40px 0;
}

#services .box-services .service:hover {
  background-color: #000;
  border-top-color: #FF305B;
}

.box-services .service .box-icon {
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  background-color: #FF305B;
  border: 1px solid transparent;
  transition: .7s;
}

.box-services .service:hover .box-icon {
  background-color: #000;
  border-color: #FF305B;
}

.box-services .service .box-icon i {
  display: block;
  color: #fff;
  font-size: 1.5em;
  line-height: 50px;
}

.box-services .service .box-description h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 28px;
  text-transform: uppercase;
  margin: 15px 0 10px 0;
}

.box-services .service .box-description p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #181818;
}

.box-services .service:hover .box-description h3, .box-services .service:hover .box-description p {
  color: #ddd;
}


@media (max-width: 992px) {
  #services .box-services .service {
    width: 40%;
  }
}

@media (max-width: 768px) {
  #services .box-services .service {
    width: 100%;
    padding: 40px;
  }
}



